@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Index";
}

<h2>Acceso Incorrecto</h2>

<p>Esta fecha/hora ya fue asignada. Por favor escoja otra fecha!</p>

<p>
    <a asp-action="Create"><button class="btn btn-primary">Regresar</button></a>
</p>